.Rproj.user
.Rhistory
.RData
.Ruserdata
OPIK*
installjunk.py
seminarioOPIK.R
test_transitions.R
statespace.svg
st_andrews_abstract.txt
schematim.svg
ms_dist.qmd
ms_dist.html
ms_dist_files
ms_dist.tex
proof_of_concept.R
main_plot.svg
main_plot.png
main_plot.pdf
d3.csv
d2.csv
trprob.csv
transitions_extrap.csv
ms_dist.pdf
hrs_ready.csv
hrs_wave12.csv
hrs_wave5.csv
imach_example_data.csv
imach_example_data2.csv
sample.sas7bdat
randhrs1992_2018v2_STATA.zip
randhrs1992_2018v2_STATA
randhrs1992_2018v2.pdf
hrs_iadl_m_1013_stepm12_mle1_basic.csv
hrs_iadl_f_1013_stepm12_mle1_basic.csv
hrs_m_adl_2000_imach.log
Rplots.pdf
Rplots1.pdf
SHARE_ADL_IT_female.txt
SHARE_ADL_IT_female2.txt
SHARE_GALI_IT_female.txt
SHARE_SRH_IT_female.txt
StAndrewsOutline.Rmd
d_out_inaki.csv
dxh_hrs_f_adl.csv
dxh_hrs_m_adl.csv
females_imach.txt
fig2.pdf
fig2.svg
fig4.pdf
fig4.svg
h_dagger_poc.R
hrs_adl_f_1013_stepm12_mle1_basic.csv
hrs_adl_m_1013_stepm12_mle1_basic.csv
hrs_processed_long.csv
hrs_wave1012f_imach.log
hrs_wave12_imach.log
hrs_wave12f.txt
hrs_wave12f_imach.log
imach
imachHRS.r
merge_share.R
mpidr_abstract.txt
p1.png
p1reves.png
*.png
*.svg
*.txt
phrg_prep.R
q
share_adl_females_main.pdf
share_gali_females_main.pdf
test_share.R
old
