.Rproj.user
.Rhistory
.RData
.Ruserdata
OPIK*
installjunk.py
seminarioOPIK.R
test_transitions.R
statespace.svg
st_andrews_abstract.txt
schematim.svg
ms_dist.qmd
ms_dist.html
ms_dist_files
ms_dist.tex
proof_of_concept.R
main_plot.svg
main_plot.png
main_plot.pdf
d3.csv
d2.csv
trprob.csv
transitions_extrap.csv
ms_dist.pdf
